@model CVSWebApp2.Models.UserOutlet

@{
    ViewData["Title"] = "Create";
}

<h2>Assign Member to Outlets</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
            <div class="form-group">
                <label  class="control-label">Outlet</label>
                <select asp-for="OutletId" class ="form-control text-capitalize" asp-items="ViewBag.OutletId"></select>
            </div>
            <div class="form-group">
                <label  class="control-label">Member</label>
                <select asp-for="Id" class="form-control text-capitalize" asp-items="ViewBag.Id"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="DefaultOutlet" /> @Html.DisplayNameFor(model => model.DefaultOutlet)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
